<?xml version="1.0" encoding="utf-8"?>
<!--
     SPDX-FileCopyrightText: WitAqua
     SPDX-FileCopyrightText: The LineageOS Project
     SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.lineageos.klimt.euicc" android:sharedUserId="android.uid.system">
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PRIVILEGED_PHONE_STATE" />
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <application android:label="eSIM controller" android:persistent="true"
        android:directBootAware="true" android:defaultToDeviceProtectedStorage="true"
        android:allowBackup="false" android:forceQueryable="true">
        <provider android:name=".EuiccProvider"
            android:authorities="org.lineageos.klimt.euicc"
            android:exported="true" android:singleUser="true"
            android:permission="android.permission.WRITE_EMBEDDED_SUBSCRIPTIONS" />
        <receiver android:name=".BootReceiver" android:exported="false" android:singleUser="true">
            <intent-filter>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
